.lead__subtitle{
    max-width: 640px;
    margin: 0;
    padding-top: 32px;
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color:  #FFFFFF;
}
@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        padding-top: 16px;
        line-height: 20px;
    }
  }