.footer{
    display: grid;
    grid-auto-flow: column;
    padding-top: 92px;
    padding-bottom: 24px;
}
@media screen and (max-width: 1023px) {
    .footer {
        padding-top: 88px;
    }  
}
@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        grid-auto-flow: row;
        gap: 48px;
    }  
}